@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;

  --color-white: hsl(0 100% 100%);
  --color-gray-200: hsl(270 3% 87%);
  --color-gray-400: hsl(212 12% 71%);
  --color-purple-950: hsl(278 68% 11%);
}